/* Home section start */
.home-section-wrapper {
  background-image: url('../image/home/home_background.png');
  background-attachment: fixed;
}

.home-wrapper {
  height: 300px;
  text-align: center;
  color: white;
  letter-spacing: 0.2em;
  font-size: 4em;
}

.home-wrapper span {
  color: cyan;
  font-weight: bold;
  font-size: 1em;
}

.home-wrapper a {
  letter-spacing: normal;
  color: black;
  box-shadow: 0 0 10px grey;
  background-color: cyan;
  border-radius: 5px;
  padding: 10px;
  font-size: 0.5em;
  transition: all 500ms;
}

.home-wrapper a:hover {
  background-color: darkcyan;
}
/* Home section end */

/* About me section start */
.about-me-section-wrapper {
  background-color: cyan;
  flex-direction: column;
}

.skills-wrapper {
  display: flex;
}

.skill-wrapper {
  position: relative;
  top: 100px;
  visibility: hidden;
  transition: all 500ms;
}

.isVisibleSkill {
  visibility: visible;
  top: 0;
}

.skill-wrapper div {
  padding: 10px 60px;
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
}

.skill-wrapper i {
  font-size: 3.5em;
}

.about-me-wrapper {
  margin-top: 80px;
  width: 900px;
  display: flex;
  text-align: justify;
}

.isVisibleProfile {
  visibility: visible!important;
  position: relative;
  left: 0!important;
}

.isVisibleAboutMe {
  position: relative;
  visibility: visible!important;
  right: 0!important;
}

.profile-image-wrapper img{
  border-radius: 50%;
}

.profile-image-wrapper {
  position: relative;
  visibility: hidden;
  left: -300px;
  transition: all 750ms;
}

.about-me {
  position: relative;
  visibility: hidden;
  right: -300px;
  transition: all 750ms;
}

.about-me-title {
  padding: 15px;
  font-weight: bold;
  font-size: 1.4em;
}

.about-me div {
  padding: 20px;
}
/* About me section end */

/* Projects section start*/
.projects-wrapper {
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-wrapper {
  margin: 20px;
  width: 300px;
  color: white;
  box-shadow: 0 0 10px grey;
  padding: 10px;
  text-align: center;
  height: 300px;
  transition: all 500ms;
}

.project1-background {
  background-image: url('../image/projects/project1.png');
}

.project2-background {
  background-image: url('../image/projects/project2.png');
}

.project3-background {
  background-image: url('../image/projects/project3.png');
  background-position-x: -80px;
}

.project4-background {
  background-image: url('../image/projects/project4.png');
}

.project-wrapper:hover {
  transform: scale(1.1);
}

.project-title {
  padding: 10px;
  display: block;
  font-weight: bold;
}

.project-title a {
  font-size: 1.4em;
}

.project-description {
  font-size: 1.1em;
}
/* Projects section end*/