/* Home section start */
.home-section-wrapper {
  background-image: url('https://via.placeholder.com/1920x1080');
  background-attachment: fixed;
}

.home-wrapper {
  height: 300px;
  text-align: center;
  letter-spacing: 0.2em;
  font-size: 4em;
}

.home-wrapper span {
  color: darkcyan;
  font-weight: bold;
  font-size: 1em;
}

.home-wrapper a {
  letter-spacing: normal;
  box-shadow: 0 0 10px grey;
  background-color: cyan;
  border-radius: 5px;
  padding: 10px;
  font-size: 0.5em;
  transition: all 500ms;
}

.home-wrapper a:hover {
  background-color: darkcyan;
}
/* Home section end */

/* About me section start */
.about-me-section-wrapper {
  background-color: cyan;
  flex-direction: column;
}

.skills-wrapper {
  display: flex;
}

.skill-wrapper div {
  padding: 10px 60px;
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
}

.skill-wrapper i {
  font-size: 3.5em;
}

.about-me-wrapper {
  margin-top: 80px;
  width: 900px;
  display: flex;
  text-align: justify;
}

.profile-image-wrapper img{
  border-radius: 50%;
}

.about-me-title {
  padding: 15px;
  font-weight: bold;
  font-size: 1.4em;
}

.about-me div {
  padding: 20px;
}
/* About me section end */

/* Projects section start*/
.projects-wrapper {
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-wrapper {
  margin: 20px;
  width: 300px;
  box-shadow: 0 0 10px grey;
  text-align: center;
  height: 300px;
  background-image: url('https://via.placeholder.com/300x300');
  transition: all 500ms;
}

.project-wrapper:hover {
  transform: scale(1.1);
}

.project-title {
  font-size: 1.4em;
  padding: 10px;
  display: block;
  font-weight: bold;
}

.project-description {
  font-size: 1.1em;
}
/* Projects section end*/