main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-wrapper {
    width: 900px;
    margin: 90px 0;
    box-shadow: 0 0 10px grey;
    background-color: cyan;
}

.project-image-wrapper {
    height: 400px;
    width: 900px;
    overflow: hidden;
}

.project-title {
    font-size: 3em;
    text-align: center;
}

.project-description {
    padding: 20px;
    text-align: justify;
}

.github-wrapper i {
    font-size: 3em;
}