main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.posts-wrapper {
    width: 900px;
    margin: 90px 0;
}

.post-wrapper {
    height: 400px;
    margin: 60px;
    display: flex;
    box-shadow: 0 0 10px grey;
    background-color: cyan;
}

.post-text-wrapper {
    flex: 1 1 480px;
    padding: 25px;
}

.post-image-wrapper {
    flex: 1 1 300px;
    overflow: hidden;
}

.project-title {
    margin: 25px;
    font-size: 1.4em;
    font-weight: bold;
}

.project-short-description {
    margin-top: 25px;
    font-size: 1.2em;
}
