* {
  font-size: 16px;
  scroll-behavior: smooth;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

/* Navigation style start */
header {
  position: fixed;
  height: 60px;
  z-index: 100;
}

nav {
  height: 100%;
}

nav ul {
  margin: 0;
  padding: 0;
  height: 100%;
}

nav li {
  float: left;
  height: 100%;
  list-style-type: none;
}

nav ul li a {
  padding: 0 20px;
  display: flex;
  align-items: center;
  font-size: 1.3em;
  height: 100%;
}

nav ul li a:hover {
  text-decoration: none;
}
/* Navigation style end */

/* Home section start */
.home-section-wrapper {
  background-image: url('https://via.placeholder.com/1920x1080');
  background-attachment: fixed;
}

.home-wrapper {
  height: 300px;
  text-align: center;
  letter-spacing: 0.2em;
  font-size: 4em;
}

.home-wrapper span {
  color: white;
  font-weight: bold;
  font-size: 1em;
}

.home-wrapper a {
  letter-spacing: normal;
  padding: 10px;
  font-size: 0.6em;
}
/* Home section end */

/* About me section start */
.about-me-section-wrapper {
  background-color: cyan;
  flex-direction: column;
}

.skills-wrapper {
  display: flex;
}

.skill-wrapper div {
  padding: 10px 60px;
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
}

.skill-wrapper i {
  font-size: 3.5em;
}

.about-me-wrapper {
  margin-top: 80px;
  width: 900px;
  display: flex;
  text-align: justify;
}

.profile-image-wrapper img{
  border-radius: 50%;
}

.about-me-title {
  padding: 15px;
  font-weight: bold;
  font-size: 1.4em;
}

.about-me div {
  padding: 20px;
}
/* About me section end */

/* Projects section start*/
.projects-wrapper {
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-wrapper {
  margin: 20px;
  width: 300px;
  text-align: center;
  height: 300px;
  background-image: url('https://via.placeholder.com/300x300');
}

.project-title {
  font-size: 1.4em;
  padding: 10px;
  display: block;
  font-weight: bold;
}

.project-description {
  font-size: 1.1em;
}
/* Projects section end*/

/* Footer start */
footer {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
}

.contact-wrapper {
  width: 300px;
}

.contact-wrapper span {
  display: block;
  margin: 20px;
  font-size: 1.3em;
}

.social-wrapper span i {
  font-size: 3em;
  margin: 15px;
}
/* Footer end */