* {
  font-size: 16px;
  scroll-behavior: smooth;
}

/* Navigation style start */
header {
  position: fixed;
  height: 60px;
  z-index: 100;
}

nav {
  height: 100%;
}

nav ul {
  margin: 0;
  padding: 0;
  height: 100%;
}

nav li {
  float: left;
  height: 100%;
  list-style-type: none;
}

nav ul li a {
  padding: 0 20px;
  display: flex;
  align-items: center;
  font-size: 1.3em;
  height: 100%;
}

nav ul li a:hover {
  text-decoration: none;
}
/* Navigation style end */

/* Home section start */
.home-section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://via.placeholder.com/1920x1080');
}

.home-wrapper {
  height: 300px;
  text-align: center;
  letter-spacing: 0.2em;
  font-size: 4em;
}

.home-wrapper span {
  color: white;
  font-weight: bold;
  font-size: 1em;
}

.home-wrapper a {
  letter-spacing: normal;
  padding: 10px;
  font-size: 0.6em;
}
/* Home section end */


