#mainDiv {
    margin-top:70px;
}

.social {
    color: white !important;
    font-size: 3em !important;
    transition: all ease-in-out 350ms;
}

.social:hover {
    color: black !important;
    background: #f8f9fa;
}

.photo {
    width: 250px;
    height: 250px;
    margin: 30px auto 10px
}
