.fill-vh {
    min-height: 100vh;
}

.fill-container {
    min-height: 100%;
}

.min-height {
    min-height: 70px;
}

.top-fix {
    margin-top: -70px
}

.home-link {
    text-decoration: none;
    color: white;
}

.home-link:hover {
    text-decoration: none;
    color: white;
}