@model Contact

@section Stylesheet {
    <link rel="stylesheet" asp-href-include="/css/home.css" asp-append-version=true />
}
<div class="row justify-content-center fill-vh">
    <div class="col-md-5 bg-success p-5" id="mainDiv">
        <span class="display-4"> Contact </span>
        <form method="post" novalidate>
            <div class="form-group">
                <label asp-for="Name"></label>
                <div><span asp-validation-for="Name" class="text-danger"></span></div>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <div><span asp-validation-for="Email" class="text-danger"></span></div>
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Message"></label>
                <div><span asp-validation-for="Message" class="text-danger"></span></div>
                <textarea asp-for="Message" class="form-control" rows="6"></textarea>
            </div>
            <button type="submit" class="btn btn-lg btn-primary">Submit</button>
        </form>
        <a class="btn btn-lg" asp-action="Contact" asp-controller="Admin"> List </a>
    </div>
</div>

@section Scripts {
    <script asp-src-include="/js/home.js" asp-append-version=true></script>
}