$grid-breakpoints: ( 
    xs: 0, 
    sm: 576px, 
    md: 1150px, 
    lg: 1151px, 
    xl: 1200px 
);

$theme-colors: ( 
    "secondary": #bdc3c7
);

@import "../lib/bootstrap/scss/bootstrap";

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: white;
    background-color: #007bff;
    border-color: white;
    border-bottom: 0;
}