@model Education
<!--
@@section Stylesheet {
    <link rel="stylesheet" asp-href-include="/css/home.css" asp-append-version=true />
}
-->
<div class="row justify-content-center fill-vh">
    <div class="col-md-5 bg-success p-5" id="mainDiv">
        <span class="display-4"> Contact </span>
        <form asp-action="EducationEdit" method="post" novalidate>
            <div>
                <input type="hidden" asp-for="ID" value="@Model.ID" />
            </div>
            <div class="form-group">
                <label asp-for="Title"></label>
                <div><span asp-validation-for="Title" class="text-danger"></span></div>
                <input asp-for="Title" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <div><span asp-validation-for="Description" class="text-danger"></span></div>
                <textarea asp-for="Description" class="form-control" rows="6"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="Image"></label>
                <div><span asp-validation-for="Image" class="text-danger"></span></div>
                <input asp-for="Image" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="OrderLink"></label>
                <div><span asp-validation-for="OrderLink" class="text-danger"></span></div>
                <input asp-for="OrderLink" class="form-control" />
            </div>
            <button type="submit" class="btn btn-lg btn-primary">Save</button>
            <a class="btn btn-lg btn-danger text-light" asp-action="Education">Cancel</a>
        </form>
    </div>
</div>
<!--
@@section Scripts {
    <script asp-src-include="/js/home.js" asp-append-version=true></script>
}
-->
